# Ignore environment variables
.env
server/.env

# Node modules
node_modules/
server/node_modules/

# Build and dist files
dist/
build/

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

